.locAndSunCont{
    padding: 10px;
    color: white;
}

.locContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mapAndCountryContainer{
    width: 30%;
    max-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mapImage{
    width: 35px;
    height: 35px;
}

.locationName{
    margin-left: 10%;
}

.searchbutton{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.inputContainer{
    width: 60%;
    max-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input{
    width: 200px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0 5px;
    border: none;
    outline: none;
    color: #590696;
    font-size: 18px;
}

.none{
    display: none;
}

.SubmitButton{
    outline: none;
    border: none;
    background: transparent;
    margin-left: 5%;
}

.SearchForm{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sunRiseSunSetContainer{
    width: 70%;
    margin: auto;
    margin-top: 80px;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.SunriseText, .sunsetText{
    text-align: center;
    font-size: 25px;
}

.sunriseContainer, .sunsetContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
}

.sunsetContainer{
    margin-left: 10%;
}

.clock{
    width: 150px;
    height: 60px;
    border-radius: 11.3852px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.Error{
    width: 100%;
    max-width: 130px;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width: 1271px){
    .locContainer{
        width: 80%;
        flex-direction: column;
        height: 100px;
    }

    .mapAndCountryContainer{
        width: 50%;
        max-width: 200px;
    }

    .inputContainer{
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 530px) and (max-width: 1271px){
    .mapAndCountryContainer{
        width: 80%;
        max-width: 150px;
        margin-left: 0px;

    }
    
    .sunRiseSunSetContainer{
        flex-direction: column;
    }

    .sunsetContainer{
        margin-left: unset;
        margin-top: 30px;
    }

    .sunsetContainer, .sunriseContainer{
        height: 80px;
    }

    .SunriseText, .sunsetText{
        font-size: 20px;
    }

    .clock{
        font-size: 25px;
        height: 50px;
    }

    .input{
        width: 150px;
        height: 25px;
        font-size: 15px;
    }
    
    .searchbutton{
        width: 30px;
        height: 30px;
    }
    .SearchForm{
        width: 200px;
    }

    .mapImage{
        width: 25px;
        height: 25px;
    }
}


@media (min-width: 350px) and (max-width: 530px){
    .input{
        width: 100%;
        max-width: 150px;
        margin: auto;
        height: 25px;
        font-size: 15px;
    }

    .mapAndCountryContainer{
        width: 100%;
        max-width: 160px;
        margin-left: 0px;

    }

    .searchbutton{
        width: 30px;
        height: 30px;
    }

    .SearchForm{
        width: 200px;
    }

    .sunRiseSunSetContainer{
        flex-direction: column;
    }

    .sunsetContainer{
        margin-left: unset;
        margin-top: 20px;
    }

    .SunriseText, .sunsetText{
        font-size: 16px;
    }

    .clock{
        width: 120px;
        font-size: 20px;
        height: 40px;
    }

    .sunsetContainer, .sunriseContainer{
        height: 70px;
    }

    .mapImage{
        width: 20px;
        height: 20px;
    }
}