.Navbarcont{
    padding: 10px;
    background-color: #590696;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navLogoLinkContainer{
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.LinkContainer{
    width: 40%;
    max-width: 300px;

}

.Link{
    max-width: 78px;
    width: 10%;
    text-decoration: none;
    margin-left: 10%;
    font-size: 1.5rem;
    color: #37E2D5;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.Link:hover{
    background-color: #37E2D5;
    color: #590696;
}

.logoPicture{
    max-width: 243px;
    width: 50%;
}


@media screen and (max-width: 500px){
    .Link{
        font-size: 1.2rem;
    }
}


